aiohttp
autogenstudio
bash_kernel
chromadb
duckdb-engine
fastapi
fastmcp
griffe
haystack-ai
ipykernel
jsonschema
jupysql
jupyterlab
langchain
langgraph
litellm
llama-index
lxml
mcp
mypy
networkx
ollama
openai-agents
pandas
poetry
polars
pre-commit
psycopg2-binary
pydantic
pytest
python-dotenv
pyyaml
requests
rich
ruff
scikit-learn
sqlalchemy
streamlit
tiktoken
typer
websockets
